/* ============================ COLORS ============================ */
:root {
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);
}
/*  */
/* ======================== BREAKPOINTS ========================= */
    /* 
    Small: 500px |  Medium: 600px  |  Large: 780px 
    */
/*  */
/* ======================== LAYOUT BASICS ========================= */
* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;

    font-family: 'Karla', sans-serif;
    text-align: center;
}

section {
    margin-bottom: 8rem;
}

footer {
    padding-bottom: 8rem;
}
/* ========================/ LAYOUT BASICS ========================= */
/*  */
/* ============================= TEXT ============================= */
a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-bottom: 1.5em;
}
/* =============================/ TEXT ============================= */
/*  */
/* =========================== REUSABLE =========================== */
.logo-wrapper {
    align-items: center;
    justify-content: center;
    align-self: center;
}

.btn-border {
    border: 2px solid var(--very-light-gray);
    color: var(--very-light-gray);
    background-color: transparent;

    text-transform: uppercase;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: bold;

    padding: 0.5rem 2rem;
}

.btn-border:hover {
    color: var(--very-dark-violet);
    background-color: var(--very-light-gray);
}

.wrapper,
.mobile--lateral-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (max-width: 780px) {
    .desktop-only {
        display: none;
    }
    .mobile--lateral-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 500px) {
    .small-only {
        display: none;
    }
    .wrapper {
        padding-left: 10%;
        padding-right: 10%; 
    }
} 

@media screen and (min-width: 780px) {
    .mobile-only {
        display: none;
    }
    .desktop--lateral-padding {
        padding-right: 10vw;
        padding-left: 10vw;
    }
}

@media screen and (min-width: 900px) {
    .desktop--flex {
        display: flex;
        align-items: center;
    }
    .wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/* ===========================/ REUSABLE =========================== */
/*  */
/* ============================ HEADER ============================ */
header {
    display: block;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}

header #header-images {
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
}

header #header-navigation {
    font-weight: bold;
}

@media (max-width: 780px) {
    header #header-navigation {
        color: var(--very-light-gray);
        overflow: hidden;
        display: none;

        width: 100%;
        height: calc(100vh - 5rem);
        padding-top: 2rem;

        background-color: var(--very-dark-violet);
        background-image: url('../images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
    }    
}

#header-navigation .navigation-links a {
    border: 3px solid transparent;
    display: block;
    padding: 1rem;
    margin: 0.5rem 1.5rem;
}

#header-navigation .navigation-links a:hover {
    cursor: pointer;
    border: 3px solid var(--very-light-gray);
}

header #icon-hamburger {
    display: block;
}

#nav-mobile-background {
    width: 100%;
}

@media screen and (min-width: 780px) {
    #header-menu-icon {
        display: none;
    }
    header,
    #header-navigation,
    .navigation-links {
        display: flex;
    }
    header {
        justify-content: space-between;
        padding: 1.3rem;
    }

    header #header-images {
        padding: 0;
    }
    #header-navigation .navigation-links a {
        color: var(--dark-grayish-violet);
        margin:0;
        padding: 0.5rem 1.5rem;
    }
    #header-navigation .navigation-links a:hover {
        color: var(--very-dark-violet);
        border-color: transparent;
    }
    #header-navigation .navigation-links a#nav-link--view-plans {
        color: var(--very-dark-violet);
        border-color: var(--very-dark-violet);
    }
    #header-navigation .navigation-links a#nav-link--view-plans:hover {
        color: var(--very-light-gray);
        background-color: var(--very-dark-violet);
    }
}

/* ============================/ HEADER ============================ */
/*  */
/* ============================ INTRO  ============================ */
#intro {
    background-color: var(--dark-violet);
    color: var(--very-light-gray);
}

#intro .wrapper {
    background-image: url('../images/bg-pattern-intro-left-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    padding-bottom: 5rem;
}

#intro h2 {
    padding-top: 6rem;
    margin-bottom: 1rem;
}

#intro img.mobile--hero {
    width: 100%;
    max-width: max-content;
}

@media screen and (min-width: 500px) {
    #intro {
        margin-bottom: 15rem;
        height: 38rem; 
    }
    #intro img.desktop--hero {
        width: 20rem;
    }
}

@media screen and (min-width: 600px) {
    #intro {
        margin-bottom: 15rem;
        height: 35rem;
    }
    #intro img.desktop--hero {
        width: 20rem;
    }
}

/* desktop */
@media screen and (min-width: 780px) 
and (max-width: 1000px) {
    #intro .wrapper {
        background-image: none;
        padding-left: 0;
        padding-right: 0;
    }
    #intro {
        display: flex;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    #intro {
        margin-bottom: 15rem;
        height: 37rem;
    }
    
    #intro img.desktop--hero {
        display: flex;
        position: relative;
        width: fit-content;
        max-width: 45%;
        left: 50%;
        top: -30rem;
        flex: 1;
    }
    #intro .wrapper {
        width: 50%;
        height: 100%;
        padding: 0 2.5rem 0 0;
        background-image: none;
    }
    #intro h2,
    #intro p,
    #intro .wrapper {
        padding-left: 0;
        text-align: left;
        align-items: left;
    }
    
    #intro h2 {
        font-size: 4rem;
        line-height: 3.8rem;
        padding-top: 4rem;
    }
    #intro h2, p {
        margin-bottom: 2rem;
    }
    #intro-line {
        height: 15%;
        width: 150px;
        border-bottom: 1px solid var(--very-light-gray);
    }
    
}

/* ============================/ INTRO  ============================ */
/*  */
/* ====================== "We're different"  ====================== */
#different h2,
#different h3 {
    color: var(--very-dark-violet);
}

#different h2 {
    margin-bottom: 4rem;
}

#different .circled-icon {
    margin: 0.5rem 0;
}

#different h3 {
margin: 1rem 0;
}

#different p {
    color: var(--dark-grayish-violet);
    margin-bottom: 3rem;
}

@media screen and (min-width: 780px) {
    #different * {
        text-align: left;
    }
    #different h2 {
        font-size: 3rem;
    }
}

/* ======================/ "We're different"  ====================== */
/*  */
/* ======================== "How we work"  ======================= */

#how-we-work {
    background-color: var(--dark-violet);
    background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    padding: 4rem 1.5rem;
}

#how-we-work h2 {
    color: var(--very-light-gray);
    margin-bottom: 2rem;
}

@media screen and (min-width: 780px) {
    #how-we-work {
        background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    }
    #how-we-work .desktop--flex {
        justify-content: space-between;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    #how-we-work h2 {
        margin: 0;
        text-align: left;
        max-width: 27rem;
    }
}
/* ========================/ "How we work"  ======================= */
/*  */
/* ============================ FOOTER ============================ */

footer {
    background-color: var(--very-light-gray);
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-top: 6rem;
}

footer * {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
}

.icon-wrapper {
    margin: 2rem;
    padding-bottom: 2rem;

}

footer .underline {
    border-bottom: 1px solid var(--grayish-blue);
    padding-bottom: 2rem;
}

.fab {
    color: var(--dark-grayish-violet);
    font-size: 1.8rem;
}

.fab + .fab {
    margin-left: 0.9rem;
}

footer h4 {
    color: var(--dark-grayish-violet);
    margin: 2rem 0;
}

footer a {
    color: var(--dark-violet);
    display: block;
    margin-bottom: 0.9rem;
}

footer a:hover {
    color: var(--grayish-blue);
}

@media screen and (min-width: 780px) {
    footer * {
        text-align: left;
    }
    footer .desktop--flex:first-of-type {
        justify-content: space-between;
        align-items: center;
    }
    footer .wrapper {
        padding: 0;
        width: 22%;
    }
    footer .icon-wrapper {
        flex: 1;
        margin: 0;
        text-align: end;
        align-self: end;
    }
}
/* ============================/ FOOTER ============================ */